<h1>Characters</h1>
<button type="button" class="btn btn-info"><a href="/characters/1">Page 1</a></button>
<button type="button" class="btn btn-info"><a href="/characters/2">Page 2</a></button>
<button type="button" class="btn btn-info"><a href="/characters/3">Page 3</a></button>
<div class="row row-cols-1 row-cols-md-3 g-3" >
{{#each charactersInfo }}
<div class="card" style="width: 18rem;">
  <img src="{{image}}" class="card-img-top" alt="{{name}}">
  <div class="card-body" >
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">status: {{status}}</p>
    <p class="card-text">species: {{species}}</p>
    <p class="card-text">gender: {{gender}}</p>
    <p class="card-text">origin: {{origin.name}}</p>
    <form method="POST" action="/characters/favorite/{{id}}">
      <button type="submit" class="btn btn-success">favorite</button>
    </form>
    
  </div>
</div>
{{/each}}
</div>