<h1>UserProfile</h1>
<div class="row row-cols-1 row-cols-md-3 g-3" >
{{#each favoriteCharacterUpdate.favorites}}
<div class="card" style="width: 18rem;">
  <img src="{{image}}" class="card-img-top" alt="{{name}}">
  <div class="card-body" col>
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">status: {{status}}</p>
    <p class="card-text">species: {{species}}</p>
    <p class="card-text">gender: {{gender}}</p>
    <p class="card-text">origin: {{origin}}</p>
    <form method="POST" action="/characters/favorite/{{id}}">
      <button type="submit" class="btn btn-success">favorite</button>
    </form>
    
  </div>
</div>
{{/each}}
</div>